<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.itsmmt305.fbd">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher"
        android:label="FBD"
        android:theme="@style/Theme.FBD">

        <!-- Launcher Activity -->
        <activity
            android:name=".LauncherActivity"
            android:exported="true">

            <!-- Normal app launch -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <!-- WebView Automation Activity -->

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleInstance">

            <intent-filter>
                <action android:name="android.intent.action.SEND"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="text/plain"/>
            </intent-filter>
        </activity>

    </application>
</manifest>
